<!--main app-->
<div class="min-h-screen flex items-center justify-center bg-gray-50 ">
  <div class="shadow-md border border-e-2 rounded-md w-1/3  p-4 space-y-10" style="height: 500px; max-height: 500px; overflow-y: auto" >
    <!--    Header-->
    <div class="flex justify-between space-x-4" >
      <h2 class="text-3xl font-bold text-custom-tdsi">Tasks</h2>
      <button class="flex items-center text-custom-tdsi space-x-2" (click)="deleteAllTask()">
        <span class="text-2xl font-bold">Clear</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             class="h-10 w-10  ">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3"/>
        </svg>
      </button>

    </div>

    <!--    add task section-->
    <div class="flex justify-between">
      <input type="text" placeholder="New task..." [(ngModel)]="taskName"
             class="w-3/4 border border-sky-500 bg-custom-skyblue text-custom-tdsi px-2 focus:border-sky-500 focus:outline-none rounded">
      <button (click)="addTask()" class="bg-custom-tdsi hover:bg-custom-tdsi-700 text-white font-bold py-2 px-4 rounded">
        Add task
      </button>
    </div>

    <!--    add task section-->

    <!--    List taks-->

    <div class="flex justify-between" *ngFor="let task of tasks" >
      <div class="space-x-2" >
        <input type="checkbox"
               class="h-5 w-8"
               style="vertical-align: text-top"
               (click)="changeTaskState(task)"
               [ngModel]="task.isCompleted"
        >
<!--
        <span class="text-gray-700 focus:outline-none"
              style="vertical-align: text-bottom"
              contenteditable="true"
              [class.line-through]="task.isCompleted"
              [(ngModel)]="task.description"
              ngDefaultControl
        > {{task.description}}</span>
        {{task | json}}-->
        <input type="text"
               class="text-gray-700 focus:outline-none"
               [class.line-through]="task.isCompleted"
               [(ngModel)]="task.description"
               name="" id=""
        >



      </div>
      <div class="flex items-center space-x-2 task-action">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-10 h-8 text-custom-tdsi cursor-pointer"
             (click)="updateTaskDescription(task)"
        >
          <path stroke-linecap="round" stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-10 h-8 text-red-700 cursor-pointer"
             (click)="deleteTask(task)"
        >

          <path stroke-linecap="round" stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
        </svg>


      </div>
    </div>
    <div *ngIf="!tasks.length">
      Empty list tasks
    </div>
    <!--    List taks-->


  </div>

</div>

